h1{
    text-align: center;
    margin: 75px;
    padding: 20px 10px 20px 10px;
    font-family: "Encode Sans", sans-serif;
    font-size: 30px;
    color: #F8C304;
    background-color: #fcfcfc;
    border-radius: 7px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.128), -1px -2px 3px rgba(0, 0, 0, 0.128);
}