.h2_mi_carrito{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 42px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.all_resumes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 0 30px 0;
}

.product_resume{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 30px 10px;
    margin: 30px 10px 30px 10px;
    background-color: #ffffff;
    border: 1px solid #848484;
    border-radius: 12px;
}

.product_resume img{
    width: 20%;
}

.product_resume h3{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.product_resume h4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: #484848;
}

.product_resume h5{
    font-family: 'Noto Serif Vithkuqi', serif;
    font-size: 13px;
    color: #848484;
}

.add_more li{
    font-family: 'Dosis', sans-serif;  
    font-size: 15px; 
    text-transform: uppercase;
    text-align: center;
    background-color: #f8c3044e;
    border-radius: 8px;
    padding: 5px;
    margin-top: 5px;
    transition: all 0.5s ease-in-out;
}

.add_more li:hover{
    background-color: #f8c30496;
}

.icon_delete{
    width: 30px;
    height: 30px;
    color: rgb(187, 19, 19);
    transition: all 0.5s ease;
}

.icon_delete:hover{
    color: rgb(227, 17, 17);
    transform: scale(1.1);
}

.h3_totales{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

.h3_totales.preciototal{
    font-size: 36px;
}

.final_cart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0 50px 0;
}

.clean_cart{
    font-family: 'Dosis', sans-serif;  
    font-size: 20px; 
    text-transform: uppercase;
    text-align: center;
    background-color: #ef0000ba;
    border-radius: 8px;
    padding: 8px 15px 8px 15px;
    margin-top: 5px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.clean_cart:hover{
    background-color: #cc0d0af5;
}

.end_shop{
    font-family: 'Dosis', sans-serif;  
    font-size: 20px; 
    text-transform: uppercase;
    text-align: center;
    background-color: #f8c30490;
    border-radius: 8px;
    padding: 8px 15px 8px 15px;
    margin-top: 5px;
    transition: all 0.4s ease-in-out;
}

.end_shop:hover{
    background-color: #f8c304d3;
}

.empty_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.empty_cart a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8C304;
    border-radius: 12px;
    padding: 10px;
}

.empty_cart li{
    font-family: 'Dosis', sans-serif;  
    font-size: 19px; 
    text-transform: uppercase;
    margin-right: 5px;
}