footer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;
}