*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*GRILLA APP*/

#root{
  display: grid;
  grid-template-areas: "header header header" "home home home" "main main main" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  background-color: #FFFFFF;
}

#grilla_header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  background-color: #E5E5E5;
  border-top: 1px solid #cecece;
}

#grilla_home{
  grid-area: home;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dtudxtnbv/image/upload/v1690664928/home-edit_tvtm6g.webp");
  background-position: center center;
  background-size: cover;
  height: 700px;

  position: relative;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 27%); 
  mask-image: linear-gradient(to top, transparent 10%, black 27%); 
}

#grilla_main, .grilla_card_detail, .grilla_cart, .grilla_checkout{
  grid-area: main;
}

.grilla_card_detail{
  display: grid;
  grid-template-columns: 1fr 1.6fr 1.4fr;
  justify-items: center;
  margin: 80px 50px 100px 50px;
}

#grilla_footer{
  grid-area: footer;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  background-color: #252525;
}

/*MEDIA QUERIES*/

/*1120PX*/
@media screen and (max-width: 1120px) {
  .cards{
    grid-template-columns: repeat(3, 1fr);
  }
  .volver_tienda{
    width: 65%;
  }
}

/*1050PX*/
@media screen and (max-width: 1050px) {
  #grilla_header{
    flex-direction: column;
    height: auto;
  }
  .menuNav a{
    font-size: 18px;
  }
  .tiendaCart{
    width: 70px;
  }
  .widget{
    align-items: center;
    background-color: #F8C304;
    border-radius: 12px;
    padding: 15px 18px 10px 18px;
    margin: 10px;
  }
  .widget .badge{
    display: none;
  }
  .widget .badge_responsive{
    display: flex;
  }
  .all_resumes{
    grid-template-columns: repeat(3, 1fr);
  }
}

/*950PX*/
@media screen and (max-width: 950px) {
  .widget{
    margin: 10px 0 40px 0;
  }
  .grilla_card_detail{
    grid-template-columns: 0.4fr 1.6fr;
  }
  .volver_tienda{
    display: none;
  }
  .volver_tienda_responsive{
    display: flex;
    justify-content: center;
    height: 50px;
  }
  .contador{
    width: 100%;
    margin: 50px 0 20px 0;
  }
  #grilla_footer span.faq_h2{
    display: none;
  }
  #grilla_footer h2{
    color: #F8C304;
  }
  .redes .redes_item:nth-child(1) .MuiSvgIcon-root{
    color: #D43089;
  }
  .redes .redes_item:nth-child(2) .MuiSvgIcon-root{
    color: #25D366;
  }
  .redes .redes_item:nth-child(3) .MuiSvgIcon-root{
    color: #0073b1;
  }
}

/*900PX*/
@media screen and (max-width: 900px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
}

/*750PX*/
@media screen and (max-width: 750px) {
  .categorias{
    flex-direction: column;
  }
  .categorias li{
    margin: 3px;
  }
  .card{
    height: 400px;
  }
  .card img{
    height: 190px;
  }
  .all_resumes{
    grid-template-columns: repeat(2, 1fr);
  }
  .product_resume{
    margin: 20px 8px 15px 8px;
  }
}

/*700PX*/
@media screen and (max-width: 700px) {
  #grilla_footer{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .grilla_card_detail{
    grid-template-columns: 1fr;
  }
  .faq{
    text-align: center;
  }
}

/*650PX*/
@media screen and (max-width: 650px) {
  .final_cart{
    flex-direction: column;
    margin: 20px 0 0 0;
  }
  .final_cart div{
    margin: 15px 0 15px 0;
  }
  .compra_exitosa{
    width: 400px;
  }
}

/*600PX*/
@media screen and (max-width: 600px) {
  .cards{
    grid-template-columns: 1fr;
    margin: 40px 0 0 0;
  }
  .volver_tienda_responsive{
    width: 65%;
  }
  .grilla_checkout form{
    padding: 30px 40px 30px 40px;
    width: 400px;
  }
}

/*550PX*/
@media screen and (max-width: 550px) {
  #grilla_home{
    height: 600px;
  }
  .grilla_card_detail{
    margin: 60px 30px 50px 30px;
  }
  .bienvenida h1{
    font-size: 42px;
  }
  .bienvenida h2{
    font-size: 28px;
  }
  .bienvenida span{
    font-size: 34px;
  }
  .all_resumes{
    grid-template-columns: 1fr;
  }
}

/*450PX*/
@media screen and (max-width: 450px) {
  .grilla_checkout form{
    padding: 20px 30px 20px 30px;
    width: 300px;
  }
  .compra_exitosa{
    width: 300px;
  }
}

/*400PX*/
@media screen and (max-width: 400px) {
  .logo{
    width: 250px;
    height: 45px;
    margin-left: 0;
  }
  .menuNav a{
    font-size: 19px;
  }
  .volver_tienda_responsive{
    width: 75%;
  }
}

/*350PX*/
@media screen and (max-width: 350px) {
  .grilla_card_detail{
    margin: 50px 18px 30px 18px;
  }
}