.producto span{
    font-family: 'Noto Serif Makasar', serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #F8C304;
}

.producto h2{
    font-family: 'Dosis', sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.producto h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #484848;
}

.producto p{
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-style: italic;
    text-align: justify;
    color: #777777;
}

.description_title{
    font-family: 'Noto Serif Makasar', serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 5px;
}

.volver_tienda{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8C304;
    border-radius: 12px;
    padding: 10px;
    margin-top: 60px;
    width: 50%;
}

.volver_tienda li{
    font-family: 'Dosis', sans-serif;  
    font-size: 19px; 
    text-transform: uppercase;
    margin-right: 5px;
}



